<nav class="navbar navbar-light bg-success">
  <div id="menu" class="container">
    <a class="navbar-brand" href="#">Come Sano, Come Fresco </a>
    <div>
      <img
        id="cartIcon"
        src="https://cdn-icons-png.flaticon.com/512/3144/3144456.png"
        alt="cart-icon"
        data-bs-toggle="modal"
        data-bs-target="#cart"
      />
    </div>
  </div>
</nav>

<style>
  #menu img{ height: 3rem; }
</style>