<div class="card" style="width: 18rem;">
  <img
    src="/img/{{productosTipos}}.png"
    class="card-img-top"
    alt="{{productosTipos}}"
  />
  <div class="card-body text-center">
    <h5 class="card-title">{{productosTipos}}</h5>
    <a
      onclick="addCart(this.id)"
      id="{{productosTipos}}"
      class="btn btn-primary"
    >Agregar</a>
  </div>
</div>